// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_variables";

// override bootstrap variables

$ls-040: -0.4px;

$dark: #0d0d0d;
$nav-link-color: #fff;
$navbar-dark-color: #fff;
$nav-link-font-size: 17px;
$card-spacer-y: 0px;
$card-spacer-x: 0px;
$card-title-color: black;
// TODO: Add rest of font-families
// standard css
* {
  font-family: Inter;
}

.card-title {
  font-size: $nav-link-font-size;
  letter-spacing: $ls-040;
  line-height: 28px;
}

.filter-title {
  color: black;
  font-family: Public Sans;
  line-height: 30px;
  letter-spacing: -0.55px;
}

.filter-clear {
  color: #c4c4c4;
  font-family: Public Sans;
  font-size: 14px;
  letter-spacing: $ls-040;
}

.categories-title {
  color: black;
  font-family: Public Sans;
  font-size: 14px;
  letter-spacing: $ls-040;
}

.form-check-label {
  color: #000;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  letter-spacing: -0.4px;
}

.btn-3 {
  color: black !important;
  font-family: Public Sans;
  line-height: 22px;
  letter-spacing: -0.4px;
  padding: 14px 76px !important;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
