// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_variables";

// override bootstrap variables
$dark: #0d0d0d;
$nav-link-color: #fff;
$navbar-dark-color: #fff;
$nav-link-font-size: 17px;
$card-spacer-y: 0px;
$card-spacer-x: 0px;
$card-title-color: #000;
// TODO: Add rest of font-families
// standard css
* {
  font-family: Inter;
}

.card-title {
  font-size: $nav-link-font-size;
  letter-spacing: -0.4px;
  line-height: 28px;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
